
    <div class="navbar">
      <div class="navbar-logo">
        <a href="#"><%= image_tag 'thp.png' %></a>
      </div>
      <div class="navbar-right">
        <span class="droptbn avatar" alt="avatar">
        <%= image_tag 'menu.png', :class => "avatar-small" %>
        </span>
        <div class="dropdown-content">
          <ul>
            <li><a href="#howto"><%= image_tag 'howto.png' %> Le concept</a></li>
            <li><a href="#testimony"><%= image_tag 'testimony.png' %> Témoignages</a></li>
            <li><a href="#register"><%= image_tag 'register.png' %> Inscris-toi</a></li>
          </ul>
        </div>
      </div>
    </div>
